
.agenda {

	margin-left: $marge; 
	margin-right: $marge;


	display: flex; 
	flex-flow: column nowrap; 
	justify-content: space-between; 

	&-mois {

		h2 { 

			font-family: $medium; 
			font-size: 1.4vw; 
			padding : 4vh 0 2vh 0;
			border-bottom: $ligneepaisse solid black;   
		}
	}

	&-element {

		font-size: 1.5vw; 
		border-bottom: $lignefine solid $gris;  
		padding-bottom: 1vh; 

		display: flex; 
		flex-flow: row nowrap;
		flex-basis: auto; 
		justify-content: flex-start;  
		align-items: flex-start;  

		div { 
			font-size: 1.5vw;
			margin: 1vh; 
			  
		}

		&-date {

			flex-grow: 0;
			padding-right: 2vw; 
			flex-basis: 10vw;  
		}

		&-titre {

			flex-grow: 3; 
		}
	}

}


.agendacourt {

	margin-left: $marge; 
	margin-right: $marge;
	border-bottom: $ligneepaisse solid black; 

	display: flex; 
	flex-wrap: nowrap; 
	flex-direction: column;
	padding-bottom: 4rem;


	&-titre {

		font-size: $font-size-h1; 
		font-family: $fontbold; 
		border-bottom: $lignefine solid $noir;  
		padding-bottom: 4rem;
		
		h1 {
			margin : 0 0 0 4rem;
		}
	}

	&-element {

		border-bottom: $lignefine solid $gris;  
		padding-bottom: 1rem; 

		display: flex; 
		flex : auto;
		flex-flow: row nowrap;
		flex-basis: auto; 
		justify-content: space-between;  
		align-items: center;

		margin-left: 4rem;
		margin-right: 4.4rem;


		&-begin {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width : 100%;
		}

		&-date {

			font-size: $font-size-h2; 
			padding-right: 2rem; 
			min-width: 19.4rem;
			flex : 1;
		}

		&-content {

			display: flex;
			justify-content: space-between;
			flex : 3;
			align-items: center;
			flex-flow: row nowrap;

		}

		
		&-titre{

			a{
				font-size: $font-size-primary ; 
				text-decoration: none;
			}
		}

		&-bouton {
		
			&-desktop {
				
				margin-top: 1rem; 
				font-family: $medium; 
				color: $blanc;
				background-color: $noir;  
				border: $lignefine solid $noir;
				padding: 1rem;
				font-size: $font-size-primary; 
				cursor: pointer; 
			}

			&-mobile {
				display: none;
			}
		}

		&-bouton-desktop:hover {

			color: $bleusombre; 
			background-color: $noir; 
		}

	}

	

}	


/* @media(min-width : 320px) and (max-width : 479px) {}
@media(min-width : 480px)  and (max-width : 767px){}
@media(min-width : 768px)  and (max-width : 991px){}
@media(min-width:992px)  and (max-width : 1200px){}
@media(min-width:1201px)  and (max-width : 1387px) {} */



@media(min-width : 320px) and (max-width : 479px) {

	.agendacourt {

		flex-flow: column nowrap;
		border-bottom: $lignefine solid $gris; 
		margin : 0;

		&-titre {

			display: flex;
			justify-content: center;

			h1 {
				margin: 0;
			}
		}

		&-element {
	
			margin : 0;
			flex-flow: column wrap;
			align-items: flex-start;

			&-content {

				flex-direction: column;
				align-items: flex-start;
			}

			&-bouton {

				&-desktop {
					display: none;
				}

				&-mobile {

					display : flex;
					font-size: $font-size-secondary;
				
					
				}
			}

			&-titre a{

				font-size: $font-size-secondary;
			}
		}


	}
}


@media(min-width : 480px)  and (max-width : 767px){

	.agendacourt{

		flex-flow: column nowrap;
		border-bottom: $lignefine solid $gris; 
		margin : 0;

		&-titre {

			display: flex;
			justify-content: center;

			h1 {
				margin: 0;
			}
		}

		&-element {
	
			margin : 0;
			flex-flow: column wrap;
			align-items: flex-start;

			&-content {

				flex-direction: column;
				align-items: flex-start;
			}

			&-bouton {

				&-desktop {
					display: none;
				}

				&-mobile {

					display : flex;
					font-size: $font-size-secondary;
				
					
				}
			}

			&-titre a{

				font-size: $font-size-secondary;
			}
		}
	}
}
@media(min-width : 768px) and (max-width : 991px){
	
	.agendacourt{

		flex-flow: column wrap;
		border-bottom: $lignefine solid $gris; 
		margin : 0;

		&-titre {

			display: flex;
			justify-content: center;

			h1 {
				margin: 0;
			}
		}

		&-element {
	
			flex-direction: column;
			align-items: flex-start;

			&-content {

				flex-direction: column;
				align-items: flex-start;
			}

			&-bouton {

				&-desktop {
					display: none;
				}

				&-mobile {

					display : flex;
					font-size: $font-size-secondary;
				
					
				}
			}
		}
	}
}

@media(min-width:992px)  and (max-width : 1200px){
	
}

@media(min-width:1201px)  and (max-width : 1387px) {

}

@media(min-width:1200px) {

}
