
.approche{
	
	margin-left: $marge; 
	margin-right: $marge;
	padding-bottom: 4rem;

	border-bottom: $ligneepaisse solid black; 


	display: flex; 
	flex-flow: row nowrap; 
	justify-content: space-between; 

	&-titre {

		flex-shrink: 0; 
		flex-basis: 40%;  
		margin: 0 6.5rem 0 4rem;

	}

	&-contenu {

		p {		
			font-size: $font-size-primary; 
			padding-bottom: 2.4rem;  
			margin-right: 4.4rem;
		}
	
	}
}	

@media(min-width : 320px) and (max-width : 479px) {
	
	.approche{

		margin: 0;
		flex-flow: column wrap;
		justify-content: space-between;
		align-items: center;
	}
}

@media(min-width : 480px)  and (max-width : 767px){
	
	.approche{

		margin: 0;
		flex-flow: column wrap;
		justify-content: space-between;
		align-items: center;

		&-titre {
			font-size: 4rem; 
			margin : 0 0 4rem 0;
			justify-content: center;
		}
	}
	
}

@media(min-width:768px)  and (max-width : 991px){

	.approche{

		flex-flow: column wrap;
		border-bottom: $lignefine solid $gris; 
		justify-content: flex-start;
		margin : 0;

		&-titre {
			display: flex;
			font-size: 4rem; 
			margin : 0;
			justify-content: center;
			margin-bottom: 4rem;
		}

		&-contenu {
	
			p {		
				
				font-size: 3rem; 
				padding-bottom: 1rem;  
			}
		}
	}
}

@media(min-width:992px)  and (max-width : 1200px){
	
}


@media(min-width:1201px)  and (max-width : 1387px) {

}

@media(min-width:1200px) {

}