.burger {

    display: none; 

} 

.burgerlogo {

    display: none; 

}  

@media only screen and (max-width:767px){

    .burgerlogo {   

        position: absolute; 
        right: 5vw; 

        z-index: 20; 

        display: flex;
        flex-flow: column nowrap; 
        align-items: flex-start;  


        &-line { 

            width: 6vw; 
            height: 1.5vh; 
            border-bottom: $lignefine solid black;
        }
    }   

 
    .burger {   

        position: absolute; 
        top: 0; 
        left: 0; 

        z-index : 10; 


        background: white; 
        padding: 5vw; 
        width: 100vw;
        height: 100vh;


        &-element {

            padding-top: 2vh; 
            
            a {
                font-size: 6vw; 
            }

            
        }
    }   
}


@media only screen and (max-width:600px){

    .burgerlogo {   

        
        &-line { 

            width: 7vw; 
            height: 1.5vh; 
            
        }
    }   

}


@media only screen and (max-width:400px){

    .burgerlogo {   

        
        &-line { 

            width: 8vw; 
            height: 1vh; 
            
        }
    }   

}
 
