

.formations {
	
	&-categorie {

		display: flex; 
		flex-wrap: nowrap; 
		justify-content: flex-start;  

		padding-bottom: 2rem; 
		a { text-decoration: none; }
	}

	&-left {

		flex: 0 1 50%; 
	}

	&-right {

		flex: 1 0 49%; 
	}

}	