
.wrapper {
	.main {
			
		margin-left: $marge-gauche; 
		margin-right: $marge-gauche;

		h1 { 

			font-size: 2rem; 
			padding-bottom: 2rem; 
		}

		p {

			padding-bottom: 1rem; 
			font-size: 1.3rem; 
		
		}
	}
}