.contact {


    margin-left: $marge; 
	margin-right: $marge;

	display: flex inline; 
	flex-wrap: nowrap; 
	justify-content: flex-start; 
    flex-direction: column;

    
    &-title {

        margin-left: $marge; 
        margin-right: $marge;
    
        border-bottom: $lignefine solid $noir;

        h1 {
  
        font-size: $font-size-h1;
        font-family: $bold;
        }
    }

    &-contenu {
        
        h2{
            font-size: $font-size-h2;
            font-family: $bold;
        }
    }

    &-formulaire {

        background: #F1F1F1;
        padding: 2rem;

        p{
            font-family: $medium;
            font-size: $font-size-secondary;
            margin-bottom: 1.6rem;
        }

        &-infos-pro {
            
            position : relative;
            
        }

        &-identite, &-coordonnees{

            position : relative;

            input {
                width: 50%;
            }
            
        }

        &-demande {

            textarea{
                width : 100%;
                height: 20rem;
                border-radius : 7px ;
                border-color: $gris;
                border-style:solid; 
                color: $gris;
                font-family: $light;
                font-size: $font-size-primary;   
                padding: 1.3rem 1.6rem 1.6rem 1.6rem;
            }
        }

        &-envoyer {

            input {
                width : 100%;
                border-radius : 0 ;
                color: #F1F1F1;
                background-color: $noir;
                border-color: $noir;
                border-style:solid; 
                transition: all 0.250s ease-out;

                &:hover {
                    background-color: #F1F1F1;
                    color: $noir;
                    transition: all 0.250s ease-out;
                }
            }

            
        }
    }
}

@media(min-width : 320px) and (max-width : 479px) {

    .contact {

        input {

            min-width: 100%;
        }
        
        &-title h1{
            text-align: center;
        }

        &-formulaire {

            padding : 1rem;
        }
    }
}
/* Extra Small Devices, Phones */ 
@media(min-width : 480px)  and (max-width : 767px){

    .contact input {

        min-width: 100%;
    }
}

@media(min-width:768px)  and (max-width : 991px){

    .contact input {

        min-width: 100%;
    }
}

@media(min-width:992px)  and (max-width : 1199px) {

}

@media(min-width:1200px) {

    .contact {

        &-formulaire {
            width: 50%;
            min-width: 70rem;
            padding: 5.6rem;
        }
    }
}