.cursus {

	margin-left: $marge; 
	margin-right: $marge;

	display: flex; 
	flex-wrap: nowrap; 
	flex-direction: column;

	border-bottom: $ligneepaisse solid black;  

	&-title {

		font-size: $font-size-h1; 
		font-family: $fontbold; 
		padding-bottom: 1rem; 
		margin-left: $marge-etendue; 
		display: flex;

	}

	&-header {
			
		border-bottom: $lignefine solid $noir;
		padding: 0 0 3.6rem;


		display: flex; 
		flex : auto;
		flex-flow: row nowrap;
		flex-basis: auto; 
		justify-content: space-between;  
		align-items: center;


		h2 {

			font-size: $font-size-h2; 
		}

		
		&-pointeur {

			font-size: 7rem; 	
			font-family: $fontlight; 
			padding-right: 1rem; 


		}

		&-begin {

			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-left: $marge-etendue; 
			margin-right: $marge-etendue;

			&-image {

				img {
	
					height: 4.8rem;
				}
			}

			&-titre {

				margin-left: 2.4rem;
			}
		} 
		
	}

	&-footer {

		padding-bottom: 2rem; 
		padding-top: 1rem;
		padding-left: 1rem; 
		display: none; 

		p, li  { 
			
			font-size: $font-size-primary; 
		}
		
		li { 
			
			margin-left: 2vw; 
		} 

	}
}	

@media(min-width : 320px) and (max-width : 479px) {

	.cursus {

		margin : 0;
		flex-flow: column nowrap;
		justify-content: center;

		&-title {
			margin: 0;
			justify-content: center;
		}

		&-header {

			h2 {
				font-size: 2rem;
			}

			&-begin {
				margin: 0;
			}
		}
	}
}

@media(min-width : 480px)  and (max-width : 767px){

	.cursus {

		margin : 0;
		flex-flow: column nowrap;
		justify-content: center;

		&-title {
			margin: 0;
			justify-content: center;
		}

		&-header {

			h2 {
				font-size: 2rem;
			}

			&-begin {
				margin: 0;
			}
		}
	}
}

@media(min-width : 768px)  and (max-width : 991px){

	.cursus {

		margin : 0;

		&-title {
			justify-content: center;
			margin: 0;
		}
		&-header {


			h1 {

				font-size: 4vw; 
			}

		}

		&-pointeur {

			font-size: 8vw; 	
			
		}

		&-footer {

			p, li  { font-size: 3vw; } 
			li { margin-left: 4vw; } 
		}


	}
}

@media(min-width:992px)  and (max-width : 1200px){}

@media(min-width:1201px)  and (max-width : 1387px) {}
