
.decouvrir{
	
	margin-left: $marge; 
	margin-right: $marge;
	border-bottom: $ligneepaisse solid black; 

	
	display: flex; 
	flex : auto;
	flex-flow: row nowrap; 
	justify-content: flex-start; 

	&-annonce{

		padding-top: 4rem; 
		padding-bottom: 8rem; 	
		margin-left: 3.2rem;
		margin-top: 6.1rem;
		flex-grow: 1;

		h1 {
			font-size: 6.1rem;
			font-family: $fontlight;
			display: flex;
		}

		&-bouton {

			width: 100%;

			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;

			input, a{

				height: 4.9rem;
				font-family: $medium; 
				font-size: $font-size-secondary; 
				cursor: pointer;   
				min-width: 25rem;
			}
	
			&-black{
	
				color: $blanc;
				background-color: $noir;  
				border: none; 	
				margin-right: 2.4rem;
			}
	
			&-white{
	
				display: flex;
				color: $noir;
				background-color: $blanc;  
				border: 1px solid $black; 
				text-decoration: none;
				align-items: center;
				justify-content: center;
			}
		}
	}

	

	&-bouton:hover {

		color: $blanc; 
		background-color: $bleuclair; 
	}

	&-image {

		display: flex;
		margin: -4rem 0 0;

		img {
			display: flex;
			max-width: 59.3rem; 
			height: auto;
		}

	}
}	


@media(min-width : 320px) and (max-width : 479px) {
	
	.decouvrir {

		flex-flow: column wrap; 
		justify-content: space-between; 	
		align-items: center;
		margin: 0;

			&-annonce {

				margin: 0;
				display: flex;
				flex-flow: column nowrap;
				padding: 0; 
				font-size: 8rem; 
				font-family: $medium; 	
				color: $noir; 
				order: 2;  

				&-bouton {

					margin-top: 2rem; 
					margin-bottom: $marge;
					justify-content: space-between;
				}
			}

			&-image {

				margin : 0;
				order: 2;  
				justify-content: space-between;
				
				img { 
					width: $largeur-mobile; 
				}

			}
	}
}

@media(min-width : 480px) and (max-width : 767px) {

	.decouvrir {

		flex-flow: column wrap; 
		justify-content: space-between; 	
		align-items: center;
		margin: 0;

			&-annonce {

				margin: 0;
				display: flex;
				flex-flow: column nowrap;
				padding: 0; 
				font-size: 8rem; 
				font-family: $medium; 	
				color: $noir; 
				order: 2;  

				&-bouton {

					margin-top: 2rem; 
					margin-bottom: $marge;
					justify-content: space-between;
				}
			}

			&-image {

				margin : 0;
				order: 2;  
				justify-content: space-between;
				
				img { 
					width: $largeur-mobile; 
				}

			}


	}	
}

@media(min-width : 768px)  and (max-width : 991px){
	
	.decouvrir {

		flex-wrap: nowrap; 
		justify-content: flex-start; 
    	flex-direction: column;
		margin : 0;

		
		&-annonce{
	
			width : 100%;
			margin : 0;
			h1 {
				font-size: 4.8rem;
				font-family: $fontlight;
				justify-content: center;
			}
	
			&-bouton {

				justify-content: space-between;
			}
		}

		

		&-image {

			img {
				width: 100%;
			}
		}
	}

}

@media(min-width:992px)  and (max-width : 1200px){
	
	.decouvrir{


		&-annonce{
	
			h1 {
				font-size: 2.8rem;
				font-family: $fontlight;
			}
	
		}
		
	}
}

@media(min-width:1201px)  and (max-width : 1387px) {

	.decouvrir{
		&-annonce{

			h1 {
				font-size: 4.8rem;
				font-family: $fontlight;
			}

		}
	}
}

