
@font-face {
font-family: "Grotesk Light";
src:
url("#{$fontpath}/fonts/woff/SyndicatGrotesk-Light.woff") format("woff"),
url("#{$fontpath}/fonts/woff2/SyndicatGrotesk-Light.woff2") format("woff2");
}

@font-face {
font-family: "Grotesk Light Italic";
src:
url("#{$fontpath}/fonts/woff/SyndicatGrotesk-LightItalic.woff") format("woff"),
url("#{$fontpath}/fonts/woff2/SyndicatGrotesk-LightItalic.woff2") format("woff2");
}

@font-face {
font-family: "Grotesk Medium";
src:
url("#{$fontpath}/fonts/woff/SyndicatGrotesk-Medium.woff") format("woff"),
url("#{$fontpath}/fonts/woff2/SyndicatGrotesk-Medium.woff2") format("woff2");
}


@font-face {
font-family: "Grotesk Medium Italic";
src:
url("#{$fontpath}/fonts/woff/SyndicatGrotesk-MediumItalic.woff") format("woff"),
url("#{$fontpath}/fonts/woff2/SyndicatGrotesk-MediumItalic.woff2") format("woff2");
}


@font-face {
font-family: "Grotesk Regular";
src:
url("#{$fontpath}/fonts/woff/SyndicatGrotesk-Regular.woff") format("woff"),
url("#{$fontpath}/fonts/woff2/SyndicatGrotesk-Regular.woff2") format("woff2");
}


@font-face {
font-family: "Grotesk Regular Italic";
src:
url("#{$fontpath}/fonts/woff/SyndicatGrotesk-RegularItalic.woff") format("woff"),
url("#{$fontpath}/fonts/woff2/SyndicatGrotesk-RegularItalic.woff2") format("woff2");
}

@font-face {
font-family: "Grotesk Bold";
src:
url("#{$fontpath}/fonts/woff/SyndicatGrotesk-Bold.woff") format("woff"),
url("#{$fontpath}/fonts/woff2/SyndicatGrotesk-Bold.woff2") format("woff2");
}


@font-face {
font-family: "Grotesk Bold Italic";
src:
url("#{$fontpath}/fonts/woff/SyndicatGrotesk-BoldItalic.woff") format("woff"),
url("#{$fontpath}/fonts/woff2/SyndicatGrotesk-BoldItalic.woff2") format("woff2");
}
