.footer {
		
	margin-left: $marge; 
	margin-right: $marge;
	padding-bottom: 3rem; 
	padding-top: 2rem;
	
	border-top: $lignefine solid $gris;  


	display: flex; 
	flex-flow: column nowrap; 
	justify-content: space-between; 

	&-beyourpotential {

		border-bottom: $lignefine solid $gris; 
		margin-bottom: 2rem;
		padding-bottom: 2rem;

		h1 { 

			font-size: $font-size-h1;
			text-align: justify;
  			text-justify: inter-character; 
		}   
	}	

	&-bottom {

		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		&-right {

			position: relative;
			text-align: left;
			flex-basis: 45%;
			-webkit-flex-basis: 45%; 
	
			display: flex; 
			display: --webkit-flex; 
			flex-direction: row; 
			flex-wrap: no-wrap; 
			-webkit-justify-content: space-between; 
			justify-content: space-between;   
	
		}
	
	}
	
}

@media(min-width : 320px) and (max-width : 479px) {
	.footer {

		margin : 0;

		&-beyourpotential h1{

			font-size: $font-size-h1;
		}

		&-bottom {

			flex-flow: column nowrap;

			&-left {

				flex: 1;
				flex-basis: 30%;
				font-size: $font-size-primary; 
				margin-bottom: 4rem;
				
				a { 
					font-size: $font-size-secondary; 
				} 
			}

			&-right {

				flex: 1;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
	
				p {
					font-size: $font-size-primary;
				}

				a { 
					font-size: $font-size-secondary; 
				}
			}
		}
		
	}
}

@media(min-width : 480px)  and (max-width : 767px){

	.footer {

		margin : 0;

		&-beyourpotential h1{

			font-size: $font-size-h1;
		}

		&-bottom {

			flex-flow: column nowrap;

			&-left {

				flex: 1;
				flex-basis: 30%;
				font-size: $font-size-primary; 
				margin-bottom: 4rem;

				a { 
					font-size: $font-size-secondary; 
				} 
			}

			&-right {

				flex: 1;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
	
				p {
					font-size: $font-size-primary;
				}

				a { 
					font-size: $font-size-secondary; 
				}
			}
		}
		
	}
}

@media(min-width : 768px)  and (max-width : 991px){


	.footer {

		margin : 0;

		&-beyourpotential h1{

			font-size: $font-size-h1;
		}

		&-bottom {

			&-left {
				flex-basis: 30%;
				font-size: $font-size-primary; 
				a { 
					font-size: $font-size-secondary; 
				} 
			}
			&-right {

				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
	
				p {
					font-size: $font-size-primary;
				}

				a { 
					font-size: $font-size-secondary; 
				}
			}
		}
		
	}
}

@media(min-width:992px)  and (max-width : 1200px){}

@media(min-width:1201px)  and (max-width : 1387px) {}
