.formation {

	margin-left: $marge; 
	margin-right: $marge;
	
	padding: 2vh 0 4vh 0;


	display: flex; 
	flex-wrap: nowrap; 
	justify-content: flex-start; 

	p {

		font-size: 1vw;
		padding: 1vh 0 1vh 0; 

	}

	ul {

		font-size: 1vw;
		padding-left: 4vw; 

	}

	h1 { 

		font-size: 2vw; 
		font-family: $medium; 
		padding: 2vh 0 2vh 0;

	}

	h3 { 

		font-size: 1.2vw; 
		font-family: $medium; 
		padding: 2vh 0 2vh 0;

	}

	h4, strong {
		
		font-family: $medium; 

	}


	&-left {

		width: 30vw;
		margin-right: 3vw; 
		padding: 2vw;  


		a { text-decoration: none; }

		a.strong {
			font-family: $medium; 
		}

	}

	&-fiche {

		&-focus {

			padding: 1vw; 
			border: $lignefine solid $gris; 

			h3, p, a { font-size: 0.8vw; display: inline; }
			p {display: inline; }
		}

	}


	&-image {

		width: 15vw; 
		float:right; 
		margin-left: 2vw; 
		margin-top: 2vh; 
	}

	&-title-logo {

			width: 8vw; 
			float: left; 
			padding-right: 2vw; 
			object-fit: contain; 
	}

	
	&-bouton {
 
		font-family: $medium;
		background-color: black !important; 
		color: $blanc; 
		padding-left: 1vw; 
		padding-right: 1vw;
		padding-top: 1vh; 
		padding-bottom: 1vh; 
		font-size: 1vw;
		cursor: pointer; 
		border : none;
		min-width: 72px;
	}

	&-preinscription { 


		&-prebox {
			border: $lignefine solid black;
			margin-bottom: 1vh; 
			padding: 1vw;

			cursor: pointer;

			display: flex; 
			flex-wrap: nowrap; 
			justify-content: flex-start;
			align-items: center; 

			&-titre {

				flex-grow: 3; 
				font-family: $medium; 
			}

			&-date {

				flex-grow: 1; 
			}	

			&-button {

				font-family: $medium;
				background-color: black; 
				color: $blanc; 
				padding-left: 1vw; 
				padding-right: 1vw;
				padding-top: 1vh; 
				padding-bottom: 1vh; 
				cursor: pointer; 
			}
		} 


	}

}



.formation-header {

	padding-bottom: 2vh;
	border-bottom: $ligneepaisse solid black;  
}




.formations {

	margin-left: $marge; 
	margin-right: $marge;
	

	h3 {

		font-size: 1.2vw; 
		font-family: $medium; 
		padding: 2vh 0 2vh 0;

	}

	&-categorie {

		padding-left: 2vw; 

		display: flex; 
		flex-wrap: wrap; 
		justify-content: flex-start;  

		padding-bottom: 2rem; 
		a { text-decoration: none; }


		padding-top: 3vh; 
		min-height: 20vh; 
		border-bottom: $lignefine solid black;
	}

	&-left {

		flex: 0 1 100%; 
		padding-bottom: 2vh; 

	}

	&-right {

		//flex: 1 0 49%; 

		display: flex; 
		flex-wrap: wrap; 
		justify-content: flex-start;  

		&-box {

			border: $lignefine solid black;
			margin-right: 1vw; 
			margin-bottom: 1vh;
			margin-top: 2vh;  
			inline-size: 18vw;
    		overflow-wrap: break-word;
    		padding: 1vw; 
    		a {font-family: $medium;} 
		}	
	}


	.section-logo {

				width: 8vw; 
				float: left; 
				padding-right: 2vw; 
				object-fit: contain; 
			
			}
}	



@media only screen and (max-width:800px){

	.formation {

		flex-direction: column; 

		strong, h4 {

			font-size: 4vw;
			font-family: $medium; 
		}

		ul, li {

			font-size: 4vw;
		
		}

		p {

			font-size: 4vw;
			padding: 2vh 0 2vh 0; 

		}

		h1 { 

			font-size: 6vw; 
			font-family: $medium; 
			padding: 2vh 0 2vh 0;

		}

		h3 { 

			font-size: 4.5vw; 
			font-family: $medium; 
			padding: 0vh 0 0vh 0;

		}


		&-title-logo {

				width: 20vw; 
				float: left; 
				padding-right: 5vw; 
				object-fit: contain; 
		}

		&-fiche {
			order: 1; 

			&-focus {

				padding: 1vw;
				margin-bottom: 1vh;  
				border: $lignefine solid $gris; 

				h3, p, a { font-size: 3vw; display: inline; }
				p {display: inline; }
			}

		}

		&-image {

				width: 92vw; 
				float:left; 
				margin-left: 0vw; 
				margin-top: 0vh;
				margin-bottom: 2vh;  
			}


		&-bouton {
	 
			font-size: 3vw; 

		}

		&-left {

			font-size: 3vw; 

			order: 2; 
			width: 97%;
			padding: 2vw;  
			margin-top: 2vh; 

			h3 { margin: 0; padding: 0; }
			a { font-size: 3vw; }

		}	

		&-preinscription { 


			&-prebox {
				border: $lignefine solid black;
				margin-bottom: 1vh; 
				padding: 1vw;

				cursor: pointer;

				display: flex; 
				flex-wrap: nowrap; 
				justify-content: flex-start;
				align-items: center; 

				&-titre {

					flex-grow: 3; 
					font-family: $medium; 
					font-size: 3vw; 

				}

				&-date {

					flex-grow: 1; 
					font-size: 3vw;
				}	

				&-button {

					visibility: hidden; 
					font-family: $medium;
					background-color: black; 
					color: $blanc; 
					padding-left: 1vw; 
					padding-right: 1vw;
					padding-top: 1vh; 
					padding-bottom: 1vh; 
					cursor: pointer; 
				}
			} 


		}

	}


	.formations {

		h3 { 

			font-size: 5vw; 
			font-family: $medium; 

		}

		&-categorie {
				padding-left: 4vw; 
		}


		&-right {

			flex-direction: row;
			flex-wrap: wrap; 
			font-size: 3vw; 

			&-box {

				padding: 1vw; 
				min-height: 10vh; 
				inline-size: 40vw;
				a {font-size: 4vw; }	
			}
		}

			.section-logo {

				width: 30vw; 
				float: left; 
				padding-right: 2vw; 
				object-fit: contain; 
			
			}

	}
}