
.formateurs{
	
	margin-left: $marge; 
	margin-right: $marge;

	padding-bottom: 4rem; 

	border-bottom: $ligneepaisse solid black;  

	display: flex; 
	flex-flow: row wrap;
	justify-content: flex-start;  

	&-titre {

		display: flex;
		font-size: $font-size-h1; 
		font-family: $fontbold; 
		padding-bottom: 1rem; 
		margin-left: $marge-etendue; 

		flex-basis: 100%; 
		
	}

	&-element {

		display: flex;
		flex-flow: column wrap;
		padding-right: 2rem; 
		padding-bottom: 2rem; 
		margin-left: $marge-etendue; 

		img { 
			width: 16rem; 
		}

		h3 { 
				font-family: $medium;
				font-size: $font-size-secondary; 
		}

		h4 {
			color: $gris;
			font-size: 1rem;  
		}
	}

}	


.formateur {

	margin-left: $marge; 
	margin-right: $marge;


	display: flex; 
	flex-flow: row wrap;
	justify-content: flex-start; 

	&-fiche {

		padding: 2vw; 
		flex-basis: 25vw; 

	}
		
	&-title {

		font-family: $medium; 
	}

	&-content {

		p { font-size: 0.8vw; }

		ul,li { padding-left: 3vw; font-size: 0.8vw; } 
	}

	&-photo {

			img { 

				width: 8vw; 
				float: left; 
				margin: 0 1vw 1vw 1vw; 
			}
		}

}


@media(min-width : 320px) and (max-width : 479px) {

	.formateurs {
		
		margin : 0;
		justify-content: space-between;

		&-titre {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-element {
			margin: 0;
		}
	}
}

@media(min-width : 480px)  and (max-width : 767px){

	
	.formateurs {

		flex-flow: row wrap;
		margin: 0;
		justify-content: space-evenly;

		&-titre {

			justify-content: center;
			margin : 0;
		}

		&-element {

			justify-content: center;
			margin : 0;
			padding-right: 0;
		}
	}
	.formateur {

		margin-left: $marge; 
		margin-right: $marge;


		flex-flow: column nowrap;
		 

		&-fiche {

			padding: 2vw; 
			flex-basis: 10vw; 
			//border-bottom: $lignefine solid black; 
			border-top: $lignefine solid black;	
		}
			
		&-title {

			font-size: 6vw; 
			font-family: $medium; 
		}

		&-content {

			p { font-size: 3vw; }

			ul,li { padding-left: 3vw; font-size: 3vw; } 
		}

		&-photo {

				img { 

					width: 30vw; 
					float: left; 
					margin: 0 1vw 1vw 1vw; 
					border-radius: 2vw; 
				}
			}

	}
}

@media(min-width : 768px)  and (max-width : 991px){

	.formateurs {

		flex-flow: row wrap;
		margin: 0;
		justify-content: space-evenly;

		&-titre {

			justify-content: center;
			margin : 0;
		}

		&-element {

			justify-content: center;
			margin : 0;
			padding-right: 0;
		}
	}
	.formateur {

		margin-left: $marge; 
		margin-right: $marge;


		flex-flow: column nowrap;
		 

		&-fiche {

			padding: 2vw; 
			flex-basis: 10vw; 
			//border-bottom: $lignefine solid black; 
			border-top: $lignefine solid black;	
		}
			
		&-title {

			font-size: 6vw; 
			font-family: $medium; 
		}

		&-content {

			p { font-size: 3vw; }

			ul,li { padding-left: 3vw; font-size: 3vw; } 
		}

		&-photo {

				img { 

					width: 30vw; 
					float: left; 
					margin: 0 1vw 1vw 1vw; 
					border-radius: 2vw; 
				}
			}

	}
}

@media(min-width:992px)  and (max-width : 1200px){}

@media(min-width:1201px)  and (max-width : 1387px) {}
