html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1vw;
	font-family: $light;
	font-weight: 100; 
	vertical-align: baseline;}

html { 
    box-sizing: border-box; 
} 
  
*, *:before, *:after { 
    box-sizing: inherit; 
}


@media(min-width : 320px) and (max-width : 479px) {

    html{
        font-size: 60%;
    }
}
/* Extra Small Devices, Phones */ 
@media(min-width : 480px)  and (max-width : 767px){

    html{
        font-size: 80%;
    }
}

@media(min-width:768px)  and (max-width : 991px){
   
    html{
        font-size: 100%;
    }
}

@media(min-width:992px)  and (max-width : 1199px) {

/*     html{
        font-size: 100%;
    } */
}

@media(min-width:1200px) {

    html {
        font-size: 62.5%;
    }
}