
	.header {
		
		margin-left: $marge; 
		margin-right: $marge;
		padding-bottom: 3rem; 
		padding-top: 4rem;
		
		border-bottom: $ligneepaisse solid black;  

		display: flex; 
		flex-flow: column wrap; 
		align-items: flex-start; 

		a {

			text-decoration: none; 
			 
		}

		&-logo {

			display: flex;
			flex-flow : row wrap;
			align-items: center;
			a {

				display: flex;
				

				img {  

					min-width: 20rem;
					width: 30rem;
					
				}
			}

		
			h2 { 
				display: flex; 
				font-family: $regular;
				font-size: $font-size-h2; 
			}
		}

		&-code {
			
			text-align: right;
			padding-bottom: 0.8rem;  
			color: $gris; 
			font-size: 1.5rem;   

		}
	}


@media(min-width : 320px) and (max-width : 479px) {

	.header {

		padding-bottom: 2rem; 
		padding-top: 2rem;
		border-bottom: 0 solid black;  
		flex-flow: column wrap; 
		align-items: flex-start; 

		margin : 0;
		&-logo {

			h1 {

				font-size: 8rem; 
			}	
		
			h2 { 
				font-size: 4rem; 
			}

		}

		&-code {
			
			 
			text-align: left;
			font-size: 1.5rem;   

		}	

	}
}


@media(min-width : 480px)  and (max-width : 767px){
	
	.header {

		padding-bottom: 2rem; 
		padding-top: 2rem;
		border-bottom: 0 solid black;  
		flex-flow: column wrap; 
		align-items: flex-start; 

		margin : 0;
		&-logo {

			h1 {

				font-size: 8rem; 
			}	
		
			h2 { 
				font-size: 4rem; 
			}

		}

		&-code {
			
			 
			text-align: left;
			font-size: 1.5rem;   

		}	

	}
}

@media(min-width : 768px)  and (max-width : 991px){
	
	.header {
			
		margin : 0;
	}
}

@media(min-width:992px)  and (max-width : 1200px){

}


@media(min-width:1201px)  and (max-width : 1387px) {

}
