
.navigation {

	padding-top: 1rem; 
	padding-bottom: 1rem; 

	border-bottom: $lignefine solid black;  


	display: flex; 
	flex-flow: row nowrap; 

	margin-left: $marge;
	margin-right: $marge; 



	&-element {

		padding-right: 1rem; 
		
		a { 

			font-size: $font-size-menu; 
			text-decoration: none; 
			color : $gris;
		}

		.active { 

			font-size: $font-size-menu; 
			color : $noir;
		}

	}


}

@media(min-width : 320px) and (max-width : 479px) {

	.navigation {

		display: none; 
	}	
	
}


@media(min-width : 480px)  and (max-width : 767px){

	.navigation {

		display: none; 
	}	
	
}

@media(min-width : 768px)  and (max-width : 991px){
	
	.navigation {
			
		margin : 0;

		&-element {
		
			a, .active { 

				font-size: 0.8rem; 
				text-decoration: none; 
			}

		}
	}
}

@media(min-width:992px)  and (max-width : 1200px){
   
	.navigation {
			
		&-element {
			
			a, .active { 

				font-size: 1.7rem; 
				text-decoration: none; 
			}

		}
	}
}

@media(min-width:1201px)  and (max-width : 1387px) {

	.navigation {
			
			&-element {
			
			a, .active { 

				font-size: 2rem; 
				text-decoration: none; 
			}
		}
	}
}
