
.pourquoi{
	
	margin-left: $marge; 
	margin-right: $marge;
	margin-bottom: 0; 
	margin-top: 0;
	padding-top: 4rem; 
	padding-bottom: 8rem; 

	display: flex; 
	flex-flow: row nowrap; 
	justify-content: space-between; 

	&-image {

		img { 
			width: 40rem; 
		}

		padding-bottom: 4rem; 
		padding-top: 4rem; 	
		padding-right: 2rem;

	}

	&-contenu {
 
		padding-bottom: 4rem; 
		padding-top: 4rem; 	
		padding-left: 2rem;

		h2 { 
			font-size: 2rem; 
			font-family: $regular; 
			padding-bottom: 2rem; 
		}

		p {		
			font-size: 1.5rem; 
			padding-bottom: 1rem;  
		}
	
	}
}	

@media(min-width : 320px) and (max-width : 479px) {

	
	.pourquoi{

		margin : 0;
		padding-top: 2rem; 
		flex-flow: column; 


		&-image {

			display :none;
		}


		&-contenu {

			padding-top: 0vh; 

			h2 { font-size: 4vw; padding-bottom: 4vh; }
			p {	font-size: 3vw; padding-bottom: 2vh;  }
		
		}
	}
}

@media(min-width : 480px)  and (max-width : 767px){

	.pourquoi{

		margin : 0;
		padding-top: 2rem; 
		flex-flow: column; 


		&-image {

			display :none;
		}


		&-contenu {

			padding-top: 0vh; 

			h2 { font-size: 4vw; padding-bottom: 4vh; }
			p {	font-size: 3vw; padding-bottom: 2vh;  }
		
		}
	}
}

@media(min-width : 768px)  and (max-width : 991px){


	.pourquoi{

		margin : 0;
		padding-top: 2rem; 
		flex-flow: column; 


		&-image {

			display :flex;
			justify-content: center	;
			padding: 0 0 4rem 0;
			margin : 0;

			img { 
				width: 57rem; 
			}
		}


		&-contenu {

			padding-top: 0vh; 

			h2 { font-size: 4vw; padding-bottom: 4vh; }
			p {	font-size: 3vw; padding-bottom: 2vh;  }
		
		}
	}
}

@media(min-width:992px)  and (max-width : 1200px){}

@media(min-width:1201px)  and (max-width : 1387px) {}
