.header-preinscription {

	margin-left: $marge; 
	margin-right: $marge;

	display: flex inline; 
	flex-wrap: nowrap; 
	flex-direction: column;
	justify-content: flex-start; 


	border-bottom: solid $noir 2px;

	&-box {
			
		background: #F1F1F1;
		height: 18.5rem;
		display : flex;

		&-date, &-modalites, &-duree, &-tarif {

			height: 13.6rem;

			h2{

				font-size: $font-size-menu;
				font-family: $fontbold;
			}

			p, li, b{
				font-size: $font-size-secondary;
			}

			li{

				list-style-position: inside;
			}
		}

		&-duree{

			flex : 10 1 auto;
			margin-left: 7.2rem;

			b {
				font-family: $fontbold;
			}
		}

		&-tarif{

			flex : 1 1 auto;
			margin-left: 7.2rem;

			b{
				font-family: $fontmedium;
			}

		}

		&-date {

			flex : 1 1 auto;
		} 
		
		&-modalites {

			margin-left: 7.2rem;
			flex : 1 1 auto;
		}
	}
}

.preinscription {

	margin-left: $marge; 
	margin-right: $marge;

	display: flex inline; 
	flex-wrap: nowrap; 
	flex-direction: column;
	justify-content: flex-start; 
	
	h1 {
  
		font-size: $font-size-h1;
		font-family: $bold;
	}

	&-formulaire {

		background: #F1F1F1;
        padding: 2rem;


        p{
            font-family: $medium;
            font-size: $font-size-secondary;
            margin-bottom: 1.6rem;
        }

        &-infos-pro {
            
            position : relative;
            
        }

        &-identite, &-coordonnees{

            position : relative;

            input {
                width: 50%;
            }
            
        }

        &-demande {

            textarea{
                width : 100%;
                height: 20rem;
                border-radius : 7px ;
                border-color: $gris;
                border-style:solid; 
                color: $gris;
                font-family: $light;
                font-size: $font-size-primary;   
                padding: 1.3rem 1.6rem 1.6rem 1.6rem;
            }
		}
	}
}

/* Extra Small Devices, Phones */ 
@media(min-width : 480px)  and (max-width : 767px){

    .preinscription input {

        min-width: 100%;
    }
}

@media(min-width:768px)  and (max-width : 991px){

    .preinscription input {

        min-width: 100%;
    }
}

@media(min-width:992px)  and (max-width : 1199px) {

}

@media(min-width:1200px) {

	.header-preinscription {
		
		&-box {

			width: 80%;
			min-width: 70rem;
			padding : 3.2rem 4rem 0 4rem;

/* 			&-date, &-modalites, &-duree, &-tarif {

				width: 24%;
			} */
		}
	}

    .preinscription {

        &-formulaire {
            width: 50%;
            min-width: 70rem;
            padding: 5.6rem;
        }
    }
}