

$gris: #cccccc; 
$black: #000000; 
$noir: #000000;
$blanc: #ffffff; 
$saumon: #FA8072;
$bleu: #131874; 
$rose: #ffbcc0; 
$bleuclair: #76caf3; 
$bleusombre: #201572;  

$colonne-gauche: 50%; 
$colonne-droite: 48%; 
$marge-colonne-gauche: 52%; 


$light: "Grotesk Light"; 
$medium: "Grotesk Medium"; 
$regular: "Grotesk Regular";
$bold: "Grotesk Bold"; 

$marge: 3.2rem;
$marge-etendue : 4.4rem;
$marge-mobile: 1.6rem; 
$marge-gauche: 2rem; 
$header-height: 100px; 
$footer-height: 120px; 
$hauteur-poster: 800px; 

$ligneepaisse: 0.2rem; 
$lignefine: 0.1rem;
//$lignetresfine: 0.1rem;  

$largeur-mobile: 92vw; 

/* FONTS */
/* URL */
$fontpath : ""; 
/* SIZE */
$font-size-h1 : 4.8rem;
$font-size-h2 : 3.125rem;
$font-size-menu : 2.4rem;
$font-size-primary: 2.1rem;
$font-size-secondary : 1.6rem;
/* STYLE */
$fontlight : "Grotesk Light"; 
$fontregular : "Grotesk Regular"; 
$fontmedium : "Grotesk Medium"; 
$fontbold :  "Grotesk Bold";

