@import "variables"; 
@import "global";
@import "fonts";
@import "header";
@import "navigation"; 
@import "center"; 
@import "encart";
@import "catalogue"; 
@import "footer"; 
@import "decouvrir"; 
@import "agenda"; 
@import "cursus"; 
@import "approche"; 
@import "formations"; 
@import "formateurs"; 
@import "pourquoi"; 
@import "burger"; 
@import "preinscription"; 
@import "contact";
@import "component/form-input";

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%; 
}

.main {
}


.contenu {

  margin-left: $marge; 
  margin-right: $marge;

  padding: 4vh 0 4vh 0; 

  p { padding: 1vh 0 1vh 0; }

  h1 {

    font-size: 1.5vw;
    padding: 2vh 0 2vh 0;  
  }

}

a { color: black; }
a:hover { text-decoration: underline; }

/* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. article
 * 3. aside 1
 * 4. aside 2
 * 5. footer
 */


/* /* Large screens 
@media all and (max-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  /*.main { flex: 2 0px; background-color: blue; flex-basis: 50%; }
  .main {
    flex-flow: column nowrap;
  }

  .contenu {

    p, a { font-size: 3vw; }
  }
}	 */

/* HELPERS */
.mb-1064 {

  margin-bottom: 106.4rem;
}

.mb-72 {

  margin-bottom: 7.2rem;
}

.mb-48 {

  margin-bottom: 4.8rem;
}

.mb-40{
  margin-bottom: 4rem;
}

.mb-36{
  margin-bottom: 3.6rem;
}

.mb-24{
  margin-bottom: 2.4rem;
}

.mb-16{
  margin-bottom: 1.6rem;
}

.pointer {
  cursor: pointer;
}

.h1 {

  font-size: $font-size-h1;
  font-family: $fontregular;
}

@media(min-width : 320px) and (max-width : 479px) {
  .wrapper {
    flex-flow: column nowrap;
    padding : 1.6rem;
  }
}

@media(min-width : 480px)  and (max-width : 767px){
	.wrapper {
    flex-flow: column nowrap;
    padding : 1.6rem;
  }
}

@media(min-width : 768px)  and (max-width : 991px){
  .wrapper {
    flex-flow: column wrap;
    padding: 1.6rem;
  }
}

@media(min-width:992px)  and (max-width : 1200px){
	
}

@media(min-width:1201px)  and (max-width : 1387px) {

}
