<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ partial "tagmanager-head" . }}

        {{ $styles := resources.Get "scss/main.scss" | toCSS | minify }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
        
        <title>{{ .Site.Title }} | {{ .Title }}</title>
        {{ if .Site.Params.favicon }}
            <link rel="icon" href="{{ .Site.Params.favicon | absURL }}">
        {{ end }}
        {{ hugo.Generator }}

        <script type="text/javascript" src="/js/jquery-3.5.0.min.js"></script>
       
    </head>
    <body>
        {{ partial "tagmanager-body" . }}
        <div class="wrapper">
            <div class="header">{{ partial "header" . }}</div>
            <div class="navigation mb-40">{{ partial "navigation" . }}</div> 
            {{ block "main" . }}{{ end }}
            <div class="footer">{{ partial "footer" . }}</div>
        </div>
    </body>

</html>

