{{ define "main" }}



	<script>

		function getValue(valuename) {

			const params = new URLSearchParams(window.location.search);
			console.log("je retourne" + params.get(valuename))
			return params.get(valuename);
		}

	</script>	

	{{ $sectionclass := (index (last 2 (split (delimit (split .Params.url "/") "," "") ",")) 0) }}
	{{ $sectionname := replace $sectionclass "-" " " }}
	{{ $currentlink := .RelPermalink }}

	<div class="header-preinscription mb-48">

		<div class="header-preinscription-image mb-48">
			<img src="/images/{{ $sectionclass }}.png" class="formation-title-logo" /> 
			<p>{{ .Params.url }}</p>
		</div>

		<div class="header-preinscription-box mb-40">
	
			<div class="header-preinscription-box-date"> 
				<h2 class="mb-16">DÉMARRAGE</h2>
				<p>Début le 31/12/2021</p>
			</div>
	
			<div class="header-preinscription-box-duree"> 
				<h2 class="mb-16">DURÉE</h2>
				<ul>
					<li><b>4 demi-journées</b> à distance, avec un dispositif adapté</li>
					<li><b>2 journées</b> en présentiel, dans nos locaux à BENEXT</li>
				</ul>
			</div>
	
			<div class="header-preinscription-box-tarif"> 
				<h2 class="mb-16">TARIF</h2>
				<p><b>750€</b></p>
			</div>
	
		</div>
	</div>
	

	<script>
	$("img").attr("src","/images/"+getValue("section")+".png");
	$("#titre").text(getValue("titre"));
	</script>



	<div class="preinscription mb-1064">

		

		<script>
			
			$(".preinscription-box").css("background-color", getValue("color"));
			$("#duree").text(getValue("duree"));
			$("#modalites").text(getValue("modalites"));
			$("#tarif").text(getValue("tarif"));
			$("#date").text(getValue("date"));

		</script> 
		
		<h1 class="mb-48">{{ "pré-inscription" | upper }}</h1>

		<div class="preinscription-formulaire">

			<form name="preinscription" method="post" action="">

				<input type=hidden name=formation id=formation value="">
				<input type=hidden name=formationdate id=formationdate value="">

				<script>
					$("#formation").text(getValue("titre"));
					$("#formationdate").text(getValue("date"));
				</script>
					
				<div class="preinscription-formulaire-infos-pro mb-16">
					<input id="entreprise" type="text" name="entreprise" class="input" placeholder=" "/>
					<label for="entreprise" class="placeholder">{{.Params.entreprise}}</label>
				</div>

				<div class="preinscription-formulaire-infos-pro mb-48">
					<input id="role" type=text name="role" placeholder=" " class="input"/>
					<label for="role" class="placeholder">{{.Params.role}}</label>
				</div>

				<div class="preinscription-formulaire-identite mb-16">
					<input type=text name="nom" id="nom" placeholder=" " class="input" required />
					<label for="nom" class="placeholder">Nom</label>
				</div>

				<div class="preinscription-formulaire-identite mb-48">
					<input type=text name="prenom" id="prenom" placeholder=" " class="input" required />
					<label for="prenom" class="placeholder">Prénom</label>
				</div>

				<div class="preinscription-formulaire-coordonnees mb-16">
					<input type="mail" name="mail" id="mail" placeholder=" " class="input" required />
					<label for="mail" class="placeholder">Email</label>
				</div>

				<div class="preinscription-formulaire-coordonnees mb-48">
					<input type="tel" name="phone" id="phone" class="input" placeholder=" " required />
					<label for="phone" class="placeholder">Téléphone</label>
				</div>

				<p class="mb-16">{{.Params.demande}}</p>
				<div class="contact-formulaire-demande mb-72">
					<textarea form=preinscription name=demande id=demande  
					onfocus="valueOnFocus(this)" 
					onblur="valueOnBlur(this)"
					required>
	Écrivez ici vos demandes complémentaires, nous pourrons 
	directement y répondre lors de notre prise de contact
					</textarea>
				</div>

				<div class=contact-formulaire-envoyer>
					<input type="submit" name="envoyer" class="pointer"/>
				</div>
			</form>	
		</div>

		<script>

			// On crée une Map qui contient toutes les valeurs des inputs
			let defaultInputValueMap = new Map();
			let inputHTMLCollection = document.forms["preinscription"].getElementsByTagName("input");
			let inputArray = Array.prototype.slice.call(inputHTMLCollection);
			
			inputArray.forEach(function(input){

				defaultInputValueMap.set(input.name, input.value);
			});
			// On ajoute la valeur du textarea
			let demandeElement = document.getElementById('demande');
			defaultInputValueMap.set(demandeElement.name, demandeElement.value);
			//alert(demandeElement.value);

			// Si on a toujours la valeur par défaut, on met à valeur à vide
			function valueOnFocus(inputElement){

				if(inputElement.value == defaultInputValueMap.get(inputElement.name)){

					inputElement.value = '';
				}
			}

			// Si on a changé la valeur, on la conserve, si c'est vide, on remet la valeur par défaut
			function valueOnBlur(inputElement){

				if(inputElement.value == ''){

					inputElement.value = defaultInputValueMap.get(inputElement.name);
				}
			}
		</script>
	</div>

{{ end }}
