{{ define "main" }}
	
	<div class=contenu >
	{{ .Content }}
	</div>

	<div class=formations >


		<ul>
		 {{ range .Sections }}
			{{ $sectionclass := (index (last 1 (split (delimit (split .RelPermalink "/") "," "") ",")) 0) }}
			{{ $sectionname := replace $sectionclass "-" " " }}	
		 			<div class=formations-categorie style="background-color: {{ .Params.color }};">
		 				<div class=formations-left>

		 					<div><img src="/images/{{ $sectionclass }}.png" class=section-logo /></div>
		 					<div><h3>{{ .Title | upper }}</h3></div>	 			
		 				</div>
		 				<div class=formations-right>
		 				{{ range .RegularPagesRecursive }}
		 						<div class=formations-right-box>
		 							<a href={{ .RelPermalink }}>{{ .Title | upper }}</a>

		 						</div>
		 						
		 						
		 						<br />
		 				{{ end }}
		 				</div>
		 			</div>	
		 {{ end }}
		</ul>
	</div>	

{{ end }}
