{{ define "main" }}


	{{ $sectionclass := (index (last 2 (split (delimit (split .URL "/") "," "") ",")) 0) }}
	{{ $sectionname := replace $sectionclass "-" " " }}
	{{ $currentlink := .RelPermalink }}


<div class="formation formation-header">

<img src="/images/{{ $sectionclass }}.png" class=formation-title-logo /> 

	<h1>{{ .Title | upper }}</h1>

</div>

<div class=formation>
	{{ if isset .Params "datafile" }}
		{{ $datafile := (index $.Site.Data.catalogue .Params.datafile) }}

		<div class=formation-left style='background-color:{{ .CurrentSection.Params.color }}'>
			DANS NOTRE UNIVERS 
			<h1>{{ .CurrentSection.Title | upper }} </h1>


			{{ with .Site.GetPage "section" $sectionname }}

				{{ range .Pages }}


					<h3><a href="{{ .RelPermalink }}" {{ if eq $currentlink .RelPermalink }} class=strong {{ end }}>{{ .Title | upper }}</a></h3>

				{{ end }}

			{{ end }}

		</div>


		{{ partial "formation" ( dict "context" . "data" $datafile "color" .CurrentSection.Params.color "section" $sectionclass ) }}
	
	{{ end }}

</div>
	
{{ end }}
