<div class="pourquoi">

	{{ with .Site.GetPage "section" "a-propos" }}
			<div class="pourquoi-image"><img src="{{ .Params.image }}" /></div>
			
			<div class="pourquoi-contenu"><h2>{{ .Title | upper }}</h2>{{ .Content }}</div>
	{{ end }}


</div>	

