	<div class="agendacourt mb-40">

		<div class="agendacourt-titre mb-40">
			<h1 class="h1">{{ "agenda" | upper }}</h1>
		</div>

			{{ $formations := slice }}
			{{ range sort $.Site.Data.catalogue "dates[0]" "asc" }}


		<!-- On fabrique le tableau des formations -->
				<!-- A partir de la date du jour (type time.Time) -->
				{{ $todayDate := time "2021-10-12"}}
				
				{{ if .dates}}
				
							{{ $url := "" }}

							
							{{ range where $.Site.Pages ".Params.datafile" .datafile }}
										{{ $url = .RelPermalink}}
										
									{{ end }}

							{{ $formation := dict "titre" .titre "url" $url }}

							{{ range .dates }}
							<!-- On crée un objet de type time.Time pour le comparer à la date du jour -->
								{{ $date := time .}}
								{{ if $date.After $todayDate }}
									{{ $info := merge $formation (dict "date" . )}}
									{{ $formations = $formations | append ($info) }}	
								{{ end }}
							{{ end }}
							
				{{ end }}

			{{ end }}

		{{ $formations = sort $formations "date" "asc" }}
			
		<script>
		function sendEmail($formation, $date) 
		{

		mailto = "mailto:formation@benextcompany.com?subject=Demande d'information sur la formation : " + $formation + " | date : " + $date +"&body=Formation: " + $formation + " | date : "+ $date ;
		console.log(mailto);  
		window.open(mailto, '_blank')
		}
		</script>

		{{ range first $.Site.Params.nbformationagendacourt $formations }}
					<div class="agendacourt-element">
						<div class="agendacourt-element-begin">
							<div class="agendacourt-element-date">{{ .date }}</div>
							<div class="agendacourt-element-content">
								<div class="agendacourt-element-titre"><a href={{ .url }}>{{ trim .titre " "| upper }}</a></div> 
								<input class="agendacourt-element-bouton-desktop" type=button value='{{ "voir la formation" | upper }}' 
								style="background-color: '{{ .color }}';" onclick="window.location.href='{{ .url }}';" />
								<a class="agendacourt-element-bouton-mobile" href='{{ .url }}'>Voir la formation</a>
							</div>
						</div>
						
					</div>

			{{ end }}

</div>	

