<div class="approche mb-40">

	{{ with .Site.GetPage "section" "approche" }}
			<div class="approche-titre"><h1 class="h1">{{ .Title | upper }}</h1></div>
			<div class="approche-contenu">{{ .Content }}</div>
	{{ end }}
</div>	