<div class="cursus mb-40">

	<script>

		function  changeStatus(id){

			console.log("yep : " + id); 

			if ($("#"+id).is(":visible")) {
				$("#cursus-pointeur-"+id).html("+");
				$("#"+id).css("display", "none");
			}
			else { 
				$("#cursus-pointeur-"+id).html("-");
				$("#"+id).css("display", "block");  
			}
		}

	</script>	

	<div class="cursus-title mb-40 h1">
		{{ "nos univers" | upper }}
	</div>

	{{ with .Site.GetPage "section" "formations" }}

		{{ range .Sections.ByWeight }}
				<div class='cursus-header {{.Title | lower | replaceRE " " ""}} mb-36'>	


					<div class="cursus-header-begin">
						<div class="cursus-header-begin-image">
							<img src= "/images/{{.Params.image}}.png" /> 
						</div>
	
						<div class="cursus-header-begin-titre">
							<h2>{{ .Title | upper }}</h2>
						</div>
					</div>
					
					<div class="cursus-header-pointeur" id='cursus-header-pointeur-{{.Title | lower | replaceRE " " ""}}' 
					onclick='changeStatus("{{ .Title | lower | replaceRE " " ""}}");' >+</div> 
					
				</div>

				<div class="cursus-footer  mb-40" id='{{ .Title | lower | replaceRE " " ""}}'>
					{{ .Content }}	
				</div>	
		{{ end }}

	{{ end }}

</div>
