<div class="decouvrir mb-40">

	<div class="decouvrir-annonce">

		<h1 class="mb-24">{{ .Site.Params.message | upper}}</h1>

	
		<div class="decouvrir-annonce-bouton">
			<input class="decouvrir-annonce-bouton-black" 
			onClick="window.open('/pdf/benext-hackademy-catalogue-de-formations.pdf', '_blank');"
			type=button value='{{ "Télécharger le catalogue"}}'/>
	
			<a class="decouvrir-annonce-bouton-white" 
			href="/formations/">Découvrir nos formations</a>
		</div>
		

	</div>

	<div class="decouvrir-image">

		<img src="/images/cover-catalogue.png" />

	</div>

</div>