
<div class="footer-beyourpotential">
	<h1>BE YOUR POTENTIAL</h1>
</div>

<div class="footer-bottom">
	<div class="footer-bottom-left">

		{{ "4 rue du bouloi, 75001, Paris" | upper }}<br/>
		{{ "+33 1 42 33 18 10" | upper }} <br/>
		<a href=mailto:formation@benextcompany.com>formation@benextcompany.com</a>
	</div>

	<div class="footer-bottom-right">

					<p>NOUS RETROUVER : </p>
					{{ range .Site.Data.contact }}
							
									<div><a href={{.lien}} target=_blank>{{ .contenu |upper }}</a></div>
									
					{{ end }}


	</div>
</div>



