

<section class=formateur-fiche>


		<div class=formateur-photo><img src="/images/formateurs/{{ .Params.photo }}" /></div>
		<div class=formateur-title>{{ .Params.title | upper }}</div>
		<div class=formateur-content>{{ .Content }}</div>
		
</section>