
<div class=formation-fiche>

		{{ if isset .data "titre" }}
			
			<div class=formation-fiche-focus>

				{{ if isset .data "dates"}}
				<div class=formation-dates>
					<h3>{{"Prochaines DATES : " | upper }}</h3>

					<!-- On s'assure d'afficher uniquement les dates futures-->
					{{ $todayDate := time "2021-07-27"}}					
					<!-- On veut connaitre le dernier élément de la liste pour ne pas lui ajouter de ','-->
					{{ $datesLength := len .data.dates}}
					{{ $datesList := .data.dates}}	

					{{ range $index, $elementDate := $datesList }}

						{{ $date := time .}}

						{{ if($date.After $todayDate)}}
							{{if(ne (add $index 1) $datesLength)}}
								<p>{{ partial "date.html" (dict "date" . ) }},  </p>
							{{else}}
								<p>{{ partial "date.html" (dict "date" . ) }}  </p>
							{{end}}
						{{end}}
					{{ end }}
				</div>
			{{ end }}

				{{ if isset .data "tarif"}}
					<div class="formation-tarif">
						<h3>TARIF : </h3>
						<p>{{ .data.tarif | markdownify }}</p>
					</div>
				{{ end }}	

							{{ if isset .data "duree"}}
				<div class=formation-duree>
					<h3>DUREE : </h3>
					<p>{{ .data.duree | markdownify }}</p>
				</div>
			{{ end }}


				{{ if ne .data.showpdf false }}
				<div class="formation-tarif mb-40">
						<h3>FICHE FORMATION PDF : </h3>
						<p><a href="/pdf/fiches/{{ .data.datafile }}.pdf" target=_blank> {{ .data.titre }}</a></p>
					</div>
				{{ end }}


			

				<div>
					<input class="formation-bouton" type=button value='{{ "pre-inscription" | upper }}' 
	            	style="background-color: {{ .color }};"
	            	onclick="document.location+='#preinscription';return false;"  />
            	</div>	
			
			</div>	



			{{ if .data.imageauteur }}
				<img class=formation-image src={{ .context.Site.BaseURL }}/images/formations/{{ .data.imageauteur }}.jpg />
			{{end}}

			{{ if isset .data "intention"}}
				<div class=formation-intention>
					<h3>INTENTION</h3>
					<p>{{ .data.intention | markdownify }}</p>
				</div>
			{{ end }}


			{{ if isset .data "apprentissages"}}
				<div class=formation-apprentissages>
				<h3>APPRENTISSAGES</h3>
				<p>{{ .data.apprentissages | markdownify }}</p>
				</div>
			{{ end }}

			{{ if isset .data "public"}}
				<div class=formation-public>
					<h3>PUBLIC ET PRÉ-REQUIS</h3>
					<p>{{ .data.public | markdownify }}</p>
				</div>
			{{ end }}

			{{ if isset .data "methode"}}
				<div class=formation-methode>
					<h3>MÉTHODE PÉDAGOGIQUE</h3>
					<p>{{ .data.methode | markdownify }}</p>
				</div>
			{{ end }}

			{{ if isset .data "programme"}}
				<div class=formation-programme>
					<h3>PROGRAMME</h3>
					<p>{{ .data.programme | markdownify }}</p>
				</div>
			{{ end }}

			{{ if isset .data "modalites"}}
				<div class=formation-modalites>
					<h3>MODALITÉS</h3>
					<p>{{ .data.modalites | markdownify }}</p>
				</div>
			{{ end }}

			<!--
			<div><input class="formation-bouton" type=button value='{{ "s'inscrire la formation" | upper }}' 
            style="background-color: {{ .color }};"
            onclick="javascript:sendEmail({{ .data.titre }});" />
        	</div>	
			-->

		<div class=formation-preinscription >

			{{/*  
				<form id=formpreinscription action="/preinscription/" method="get">
					<input type=hidden id=titre name=titre value="{{ .data.titre }}" />
					<input type=hidden id=duree name=duree value="{{ .data.duree | markdownify }}" />
					<input type=hidden id=modalites name=modalites value="{{ .data.modalites | markdownify }}" />
					<input type=hidden id=tarif name=tarif value="{{ .data.tarif }}" />
					<input type=hidden id=formdate name=date value="" />
					<input type=hidden id=section name=section value={{ .section }} />
					<input type=hidden id=color name=color value={{ .color }} /> 

				</form>	

				<script>
					function throwForm(datechoisie){

						$("#formdate").val(datechoisie); 
						$('form#formpreinscription').submit();
					}

				</script>	
			*/}}
			

			<script>
			    function sendEmail($formation, $date_session) 
			    {

			      mailto = "mailto:formation@benextcompany.com?subject=Demande d'information sur la formation : " 
			      			+ $formation + " session du " + $date_session + 
			      			"&body=Formation: " + $formation + " pour la session du " +  $date_session + "";
			      //console.log(mailto);  
			      window.open(mailto, '_blank');
			    }
			</script>

			<h1 id=preinscription >CHOISISSEZ UNE SESSION</h1>	

			{{ $titre := .data.titre }}
	
			{{ $specific := .data.specific }}

			<!-- On s'assure d'afficher uniquement les dates futures-->
			{{ $todayDate := time "2021-07-27"}}
			{{ range .data.dates }}
				{{ $date := time .}}
				{{ if($date.After $todayDate)}}
					
					{{ if $specific }}
					<div class=formation-preinscription-prebox onclick="window.open({{ $specific }}, '_blank');" >
					{{ else }}
					<div class=formation-preinscription-prebox onclick='sendEmail({{ $titre }}, {{ partial "dateshort.html" (dict "date" . ) }});' >	
					{{ end }}

						<div class=formation-preinscription-prebox-titre>{{ $titre | upper }}</div>
						<div class=formation-preinscription-prebox-date>{{ partial "dateshort.html" (dict "date" . ) }}</div>	
						<div class=formation-preinscription-prebox-button >PRE-INSCRIPTION</div>

					</div>
				{{ end }}
			{{ end }}

		</div>	



			</div>	

	<!--
			{{ if isset .data "tarif"}}
				<div class=formation-tarif>
					<h3>TARIF</h3>
					<p>{{ .data.tarif | markdownify }}</p>
				</div>
			{{ end }}

		
			{{ if isset .data "duree"}}
				<div class=formation-duree>
					<h3>DUREE</h3>
					<p>{{ .data.duree | markdownify }}</p>
				</div>
			{{ end }}
			-->
			<!--
			{{ if isset .data "dates"}}
				<div class=formation-dates>
					<h3>DATES</h3>
					{{ range .data.dates }}
						<p>{{ . }}</p>
					{{ end }}
				</div>
			{{ end }}
			-->



		{{ end }}



</div>