<div class="formateurs mb-40">

	<div class="formateurs-titre mb-40 h1">{{ "nos formateurs" | upper }}</div>

	{{ with .Site.GetPage "section" "formateurs" }}
			{{ range .Pages }}
				<div class="formateurs-element">
					{{ if isset .Params "photo" }}<a href="/formateurs/">
						<img src=/images/formateurs/{{ .Params.photo}} /></a>
						{{ end }}
					<h3>{{ .Title }}</h3>
					{{ if isset .Params "code" }}<h4>{{ .Params.code }}</h4>{{ end }}	 
				</div>
			{{ end }}
	{{ end }}
</div>	