

    <div class="header-logo">
        
        <a href="/"><img src="/images/Benext_hackademy_Accenture.jpg" /></a>
    </div>
    <div class="header-code">2.5.25.15.21.18.16.15.20.5.14.20.9.1.12</div>
    
    <script>

        function hotBurger() {

            if ($('.burger').is(':visible')) {
                $('.burger').hide();
                $('html').css('overflow', 'scroll'); 
            } else {    
                $('.burger').show();
                $('html').css('overflow', 'hidden'); 
            }

        }

    </script> 


    <div class=burgerlogo onclick="hotBurger()">
        <div class=burgerlogo-line></div>
        <div class=burgerlogo-line></div>
        <div class=burgerlogo-line></div>
    </div>

    <section class="burger">

        <div class="header-logo">
            <a href="/"><h1>BENEXT</h1></a><h2>{{ "hackademy" | upper }}</h2>
        </div>
        <div class="header-code">2.5.25.15.21.18.16.15.20.5.14.20.9.1.12</div>


        {{ if .Site.Menus.main }}
            {{ range sort .Site.Menus.main }}
                <div class="burger-element"><a href="{{ .URL }}">{{ .Name | upper }}</a></div>
            {{ end }}
        {{ end }}

    </section> 