{{ if .Site.Menus.main }}
        {{ range sort .Site.Menus.main }}
                <div class="navigation-element">
                        <a class="menu-item active" href="{{ .URL }}" {{ if eq .Identifier "catalogue" }} target=_blank {{ end }} >
                                {{ .Name | upper }}
                        </a>
                </div>
                
        {{ end }}
{{ end }}

<script>


        window.addEventListener("load", function(){
              
                let menuLinkHTMLCollection = document.getElementsByClassName("navigation-element");
                let menuLinkArray = Array.prototype.slice.call(menuLinkHTMLCollection);
                let currentHref = document.URL;
        
                //alert(currentHref);

                
                //if(currentHref != "http://localhost:1313/"){
                        menuLinkArray.forEach(function(menuItem){

                                menuItem.getElementsByClassName("menu-item").item(0).classList.remove('active');
        
                                if(menuItem.getElementsByClassName("menu-item").item(0).href == currentHref){
                                        menuItem.getElementsByClassName("menu-item").item(0).classList.add('active');
                                };
                               
                        });
                //}
                
                
        });



        
        function menuActiveFontColor(activeMenuItem){

                        //alert(menuLinkArray);
                       

                        activeMenuItem.classList.add('active');
        }
</script>