{{ define "main" }}

    <div class="contact-title mb-40" >
        <h1 class="mb-40">{{ .Title | upper }}</h1>
    </div>
        
    <script>
        $("img").attr("src","/images/"+getValue("section")+".png");
        $("#titre").text(getValue("titre"));
    </script>

    <div class=contact>

        <div class=contact-contenu>
            <h2 class="mb-40">{{.Params.subtitle}}</h2>
        </div>


        <div class="contact-formulaire mb-1064">
            <form action="mailto:aubry.thomas27@gmail.com" method="POST" name="contact-form">

                <div class="contact-formulaire-infos-pro mb-16">

                        <input id="entreprise" class="input" name="entreprise" type="text" placeholder=" "/>
                        <label for="entreprise" class="placeholder">{{.Params.entreprise}}</label>
                </div>
                <div class="contact-formulaire-infos-pro mb-36">
                        <input id="role" class="input" type="text" name="role" placeholder=" " />     
                        <label for="role" class="placeholder">{{.Params.role}}</label>    
                </div>

                <div class="contact-formulaire-identite mb-16">
                    <input id="nom" class="input" type="text" name="nom" class="required" placeholder=" " required/>
                    <label for="nom" class="placeholder">Nom</label>   
                </div>
                <div class="contact-formulaire-identite  mb-36">
                    <input id="prenom" class="input" type="text" name="prénom" class="required" placeholder=" " required/>
                    <label for="prenom" class="placeholder">Prénom</label>   
                </div>

                <div class="contact-formulaire-coordonnees mb-16">
                    <input id="email" class="input" type="email" name="mail" class="required" placeholder=" " required/>
                    <label for="email" class="placeholder">Email</label> 
                </div>
                <div class="contact-formulaire-coordonnees mb-36">
                    <input id="tel" class="input" type="tel" name="téléphone" class="required" placeholder=" "required/>         
                    <label for="tel" class="placeholder">Téléphone</label>  
                </div>

                <p class="mb-16">{{.Params.demande}}</p>
                <div class="contact-formulaire-demande mb-72">
                    <textarea form=contact-form name=demande id=demande  
                    onfocus="valueOnFocus(this)" 
                    onblur="valueOnBlur(this)"
                    required>
Écrivez ici vos demandes complémentaires, nous pourrons 
directement y répondre lors de notre prise de contact
                    </textarea>
                </div>

                <div class=contact-formulaire-envoyer>
                    <input type="submit" name="envoyer" class="pointer"/>
                </div>
                
            </form>
        </div>

        <script>

            // On crée une Map qui contient toutes les valeurs des inputs
            let defaultInputValueMap = new Map();
            let inputHTMLCollection = document.forms["contact-form"].getElementsByTagName("input");
            let inputArray = Array.prototype.slice.call(inputHTMLCollection);
            
            inputArray.forEach(function(input){

                defaultInputValueMap.set(input.name, input.value);
            });
            // On ajoute la valeur du textarea
            let demandeElement = document.getElementById('demande');
            defaultInputValueMap.set(demandeElement.name, demandeElement.value);
            //alert(demandeElement.value);

            // Si on a toujours la valeur par défaut, on met à valeur à vide
            function valueOnFocus(inputElement){

                if(inputElement.value == defaultInputValueMap.get(inputElement.name)){

                    inputElement.value = '';
                }
            }

            // Si on a changé la valeur, on la conserve, si c'est vide, on remet la valeur par défaut
            function valueOnBlur(inputElement){
    
                if(inputElement.value == ''){

                    inputElement.value = defaultInputValueMap.get(inputElement.name);
                }
            }
        </script>

    </div>
{{ end }} 