{{ define "main" }}

	<div class=contenu >
		{{ .Content }}
	</div>

	<div class=agenda >

       	{{ $formations := slice }}
       	{{ range sort $.Site.Data.catalogue "dates[0]" "asc" }}


       		<!-- On fabrique le tableau des formations -->
			<!-- A partir de la date du jour (type time.Time)-->
			{{ $todayDate := time "2021-07-27"}}

       		{{ if .dates }}
       					
       					{{ $url := "" }}
       					{{ range where $.Site.Pages ".Params.datafile" .datafile }}
							{{ $url = .RelPermalink}}
						{{ end }}	
       					{{ $formation := dict "titre" .titre "url" $url }}

       					{{ range .dates }}
						   <!-- On crée un objet de type time.Time pour le comparer à la date du jour -->
						   {{ $date := time .}}
						   {{ if $date.After $todayDate }}						   
       							{{ $info := merge $formation (dict "date" . )}}
       							{{ $formations = $formations | append ($info) }}	
							{{end}}
						{{ end }}
       						
   			{{ end }}

		{{ end }}


		{{ $mois := dict "1" "janvier" "2" "février" "3" "mars" "4" "avril" "5" "mai" "6" "juin" "7" "juillet" "8" "août" "9" "septembre" "10" "octobre" "11" "novembre" "12" "décembre" }}

		{{ $segment := "chaine vide" }}
		{{ $previoussegment := "autre chaine" }}


		{{ range sort $formations "date" "asc"}}

				{{ $month := (printf "%d" (time .date).Month) }}
				{{ $nommois := index $mois $month | humanize }} 
				{{ $annee := (time .date).Year }}

				{{ $segment = (printf "%s %d" $nommois $annee )}}

				{{ if ne $segment $previoussegment }}

					<div class=agenda-mois><h2>{{ $segment }}</h2> </div>
					{{ $previoussegment = $segment }}

				{{ end }}
				<p>
				<div class=agenda-element>
					<div class=agenda-element-date >{{ .date }}</div>
					<div class=agenda-element-titre ><a href={{ .url }}>{{ .titre | upper }}</a></div> 
				</div>
				</p>
		{{ end }}

    </div>	


{{ end }} 
