input {
    height: 5.2rem;
    border-color: $gris;
    border-style:solid; 
    color: $gris;
    font-family: $light;
    font-size: $font-size-primary;
    display : block;
    min-width: 27rem;
    padding : 0;
}

.placeholder {
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 1.3rem;
    left : 1.6rem;
    color: $gris;
    font-family: $light;
    font-size: $font-size-primary;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-3.1rem) translateX(-1.5rem) scale(0.75);
    color : $noir;
    font-family: $medium;
    font-size: $font-size-secondary;
}

.input:not(:placeholder-shown){
    color : $noir;
    font-family: $light;
}

.input:required ~ label:after {
    content : '*';
    color : red;
}